<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ADT_ServicioRFIDEnturnador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings>
    <add name="ENTURNADOREntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HOMERO\BOBPATINO;Initial Catalog=ENTURNADOR;Persist Security Info=True;User ID=sa;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <ADT_ServicioRFIDEnturnador.Properties.Settings>
            <setting name="SerialBits" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="PartitionType" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CheckingInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="com_port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SecondsToReport" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PathDevicesXml" serializeAs="String">
                <value>configFiles\Devices.xml</value>
            </setting>
            <setting name="PathWirteSpecValidation" serializeAs="String">
                <value>configFiles\WriteAccesSpec.xml</value>
            </setting>
            <setting name="PathWriteSpecNOvalidation" serializeAs="String">
                <value>configFiles\WriteAccesSpec.xml</value>
            </setting>
            <setting name="TiempoVerificacion" serializeAs="String">
                <value>10</value>
            </setting>
        </ADT_ServicioRFIDEnturnador.Properties.Settings>
    </applicationSettings>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log.txt" />
      <threshold value="Info" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

</configuration>
